version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: BestelApp_API/Dockerfile
    container_name: bestelapp-api
    ports:
      - "7001:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Data Source=/data/BestelApp.db
      - RabbitMQ__HostName=${RABBITMQ_HOST:-10.2.160.221}
      - RabbitMQ__UserName=${RABBITMQ_USERNAME:-user}
      - RabbitMQ__Password=${RABBITMQ_PASSWORD:-user123!}
      - RabbitMQ__QueueName=${RABBITMQ_QUEUENAME:-BestelAppQueue}
    volumes:
      - ./docker_data:/data

  web:
    build:
      context: .
      dockerfile: BestelApp_Web/Dockerfile
    container_name: bestelapp-web
    ports:
      - "7000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Data Source=/data/BestelApp.db
      - BackendApi__BaseUrl=http://api:8080
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./docker_data:/data
    depends_on:
      - api

  consumer:
    build:
      context: .
      dockerfile: BestelApp_Cons/Dockerfile
    container_name: bestelapp-consumer
    restart: always
    environment:
      - ConnectionStrings__DefaultConnection=Data Source=/data/BestelApp.db
      - RabbitMQ__HostName=${RABBITMQ_HOST:-10.2.160.221}
      - RabbitMQ__UserName=${RABBITMQ_USERNAME:-user}
      - RabbitMQ__Password=${RABBITMQ_PASSWORD:-user123!}
      - RabbitMQ__QueueName=${RABBITMQ_QUEUENAME:-BestelAppQueue}
    volumes:
      - ./docker_data:/data
    depends_on:
      - api

volumes:
  docker_data:
