@using Microsoft.AspNetCore.Identity
@using BestelApp_Models
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i data-lucide="user" style="width:18px;height:18px;"></i>
            <span class="ms-1">Hoi @UserManager.GetUserName(User)!</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Profile" asp-action="Index">
                    <i data-lucide="user" style="width:16px;height:16px;"></i>
                    <span class="ms-2">Mijn Profiel</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Profile" asp-action="Orders">
                    <i data-lucide="package" style="width:16px;height:16px;"></i>
                    <span class="ms-2">Mijn Bestellingen</span>
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="dropdown-item">
                        <i data-lucide="log-out" style="width:16px;height:16px;"></i>
                        <span class="ms-2">Uitloggen</span>
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Registreren</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Inloggen</a>
    </li>
}
</ul>
