name: Build en Test

on:
  push:
    branches: [ "main", "master", "Elion" ]
  pull_request:
    branches: [ "main", "master", "Elion" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    
    - name: Restore dependencies
      run: dotnet restore Project_Business_Case.sln
    
    - name: Build project
      run: dotnet build Project_Business_Case.sln --configuration Release --no-restore
    
    - name: Test
      run: dotnet test Project_Business_Case.sln --no-build --verbosity normal